@media (min-width: 3500px)
{
    #login-form
    {
        width: 1100px;
        height: 1000px;
    }

    :root
    {
        --responsive-description-font-size: 50px;
        --responsive-button-font-size: 46px;
        --responsive-title-font-size: 66px;
    }
}

@media (min-width: 3200px) and (max-width: 3499px)
{
    #login-form
    {
        width: 1000px;
        height: 900px;
    }

    :root
    {
        --responsive-description-font-size: 46px;
        --responsive-button-font-size: 42px;
        --responsive-title-font-size: 60px;
    }
}

@media (min-width: 2800px) and (max-width: 3199px)
{
    #login-form
    {
        width: 900px;
        height: 800px;
    }

    :root
    {
        --responsive-description-font-size: 42px;
        --responsive-button-font-size: 38px;
        --responsive-title-font-size: 54px;
    }
}

@media (min-width: 2500px) and (max-width: 2799px)
{
    #login-form
    {
        width: 800px;
        height: 700px;
    }

    :root
    {
        --responsive-description-font-size: 38px;
        --responsive-button-font-size: 34px;
        --responsive-title-font-size: 50px;
    }
}

@media (min-width: 2200px) and (max-width: 2499px)
{
    #login-form
    {
        width: 700px;
        height: 600px;
    }

    :root
    {
        --responsive-description-font-size: 34px;
        --responsive-button-font-size: 30px;
        --responsive-title-font-size: 46px;
    }
}

@media (min-width: 1800px) and (max-width: 2199px)
{
    #login-form
    {
        width: 600px;
        height: 500px;
    }

    :root
    {
        --responsive-description-font-size: 30px;
        --responsive-button-font-size: 24px;
        --responsive-title-font-size: 38px;
    }
}

@media (min-width: 1500px) and (max-width: 1799px)
{
    #login-form
    {
        width: 500px;
        height: 450px;
    }

    :root
    {
        --responsive-description-font-size: 24px;
        --responsive-button-font-size: 20px;
        --responsive-title-font-size: 34px;
    }
}

@media (min-width: 1250px) and (max-width: 1499px)
{
    #login-form
    {
        width: 400px;
        height: 350px;
    }

    :root
    {
        --responsive-description-font-size: 20px;
        --responsive-button-font-size: 16px;
        --responsive-title-font-size: 28px;
    }
}

@media (min-width: 1000px) and (max-width: 1249px)
{
    #login-form
    {
        width: 300px;
        height: 250px;
    }

    :root
    {
        --responsive-description-font-size: 18px;
        --responsive-button-font-size: 12px;
        --responsive-title-font-size: 24px;
    }
}

#login-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-background
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
}

.login-foreground
{
    display: flex;
    background-color: aliceblue;
    height: 80%;
    width: 90%;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.356);
}

#login-page-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}

#login-title
{
    position: absolute;
    margin: 12px;
    font-size: var(--responsive-title-font-size);
}

.input-field-container
{
    height: 30%;
    margin: 0;
}

.login-input-field-description
{
    font-size: var(--responsive-description-font-size);
    margin-bottom: 0px;
}

.login-user-input-field
{
    background-color: aliceblue;
    border: solid;
    border-color: blueviolet;
    height: 53%;
    width: 100%;
    border-radius: 12px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: var(--responsive-description-font-size);
}

#loginButton
{
    height: 16%;
    width: 100%;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: var(--responsive-button-font-size);
}

#RegisterDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#RegisterDiv p
{
    margin: 0;
}

#goToRegisterButton
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.login-image
{
    background-color: cadetblue;
    height: 100%;
    width: 60%;

    /* just to center the "image here" text */
    display: flex;
    justify-content: center;
    align-items: center;
}