#menu-header-navbar {
    background-color: rgba(64, 52, 116);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.menu-navbar-custom
{
    height:100px;
}

#menu-searchbar-form {
    display: flex;
    flex-direction: row;
}

#menu-searchbar
{
    width: 420px;
}
#menu-searchbar-btn {
    background-color: rgba(64, 52, 116);
    border: none;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 30px;
}

#menu-header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
}

#menu-header-logo {
    position: absolute;
    width:200px;
    height:200px;
}

#menu-background
{
    background-color: #340e57;
}

.quizzes-button-explanation-container
{
    display: flex;
    align-items: center;
    padding: 30px 0px 0px 40px;
}

.dummy-button
{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
}

#dummy-save-button
{
 background-color: #E9D529;
}

#dummy-play-button
{
    background-color: #307c2f;
}

.dummy-button-explanation
{
    color: aliceblue;
    margin: 0;
    margin-left: 40px;
}

.quiz-catagory-container
{
    margin-top: 60px;
    margin-left: 40px;

    /* space for quizzes */
    margin-bottom: 400px;
}

.quiz-catagory-title
{
    color: aliceblue;
}

#hamburger-container {
    width: 200px;
    display: flex;
    justify-content: start;
}

#hamburger
{
    background: none;
    color: white;
    position: relative;
    left: 20px;
    width: 60;
    font-size: 25px;
}

.search-result {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .search-result li {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
