#registerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#register-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-background
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 100%;
    width: 100%;
}

.register-foreground
{
    margin: 40px 0px 40px 0px;
    border-radius: 5px;
    display: flex;
    background-color: aliceblue;
    height: 700px;
    width: 450px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.356);
}

#register-page-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1000px;
}

#register-title
{
    margin: 10px 0px 15px 0px;
    font-size: 40px
}

.register-input-field-container
{
    height: 30%;
    margin: 0;
}

.register-input-field-description
{
    font-size: 20px
}

#password-requirements
{
    font-size: 12px;   
}

#registerPassword
{
    margin-bottom: 0px;
}

.register-user-input-field
{
    background-color: aliceblue;
    border: solid;
    border-color: blueviolet;
    height: 53%;
    width: 350px;
    border-radius: 12px;
    padding: 3px 5px 3px 5px;
    margin-bottom: 20px;
    font-size: 16px
}

#registerButton
{
    height: 50px;
    width: 100px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

#submit-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LoginDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#LoginDiv p
{
    margin: 0;
}

#goToLoginButton
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}