#test-page-body
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(67, 39, 161);
    color: white;
    margin: 0;
}

#search-message {
  margin: 10px 0px 20px 0px;
  font-size: 40px;
  font-weight: 500;

}

.search-result {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr; */
  column-gap: 30px;
  row-gap: 20px;
}

.search-result li {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  margin: 0px;
  padding: 10px;
}

.search-result-name {
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}


.individual-flashcard:hover {
  background-color: rgb(255, 255, 255, 0.9);
  cursor: pointer;
}