#create-quiz-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#create-quiz-page-body
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(67, 39, 161);
    color: white;
    margin: 0;
}

.create-quiz-text
{
    font-size: 50px;
    font-weight: 500;
}

.create-quiz-input-box
{
    border: solid;
    border-color: blueviolet;
    background-color: aliceblue;
    border-radius: 6px;
    height: 40px;
    margin: 0;

    /* hard-coded width */
    width: 400px;
}


#quiz-name-creation
{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 1px 4px 20px 1px rgba(8, 2, 27, 0.103);
    padding: 20px;


    /* hard-coded width */
    width: 500px;
}

#quiz-name-creation p
{
    font-size: 20px;
}

.create
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(143, 66, 179);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;

    /* hardcoding sizes */
    height: 60px;
    width: 260px;
}

.create p
{
    margin: 0;
}

.create:hover {
    background-color: rgba(143, 66, 179, 0.85);
}