#test-page-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(67, 39, 161);
    color: white;
    margin: 0;
}

#take-test-quiz-title
{
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 40px;
}

.back-to-view-quiz-page-button
{
    margin-left: 40px;
    width: 200px;
}

.question-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(48,60,84);
    border-radius: 20px;
    margin: 40px;
    box-shadow: 1px 4px 20px 1px rgba(8, 2, 27, 0.534);

    /* hardcoding sizes */
    height: 500px;
    width: 900px;
}

.question-number
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

.question-text
{
    margin-left: 20px;
    font-size: 24px;
}

.answer-choices
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
}

.answer-choice 
{
    background-color: rgb(92, 66, 179);
    color: white;
    border: none;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 1px 4px 20px 1px rgba(8, 2, 27, 0.103);
    transition: background-color 0.3s; /* Smooth transition for background color change */

    /* hardcoding sizes */
    height: 80px;
    width: 400px;
}

.answer-choice.selected {
    background-color: rgb(126, 113, 170); /* Change to your preferred color */
    color: white; /* Change text color if needed */
}

.answer-choice:hover
{
    background-color: rgb(106, 78, 197);
}

.correct-answer {
    background-color: #4CAF50; /* Green color for correct answers */
}

.incorrect-answer {
    background-color: #f44336; /* Red color for incorrect answers */
}

.test-result
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 48, 84);
    border-radius: 20px;
    margin: 40px;
    box-shadow: 1px 4px 20px 1px rgba(8, 2, 27, 0.534);

    /* hardcoding sizes */
    height: 200px;
    width: 900px;
}

.submit-button
{
    background-color: rgb(143, 66, 179);
    color: white;
    border: none;
    border-radius: 12px;
    margin: 10px;
    font-size: 24px;

    /* hardcoding sizes */
    height: 80px;
    width: 180px;
}

.submit-button:hover
{
    background-color: rgb(173, 95, 209);
}

.retry-button {
    background-color: rgb(143, 66, 179);
    color: white;
    border: none;
    border-radius: 12px;
    margin: 10px;
    font-size: 24px;

    /* hardcoding sizes */
    height: 60px;
    width: 140px;
}

.retry-button:hover
{
    background-color: rgb(173, 95, 209);
}

.stated-result-score
{
    font-size: 20px;
}