#vqp-body-container {
  display: flex;
  justify-content: center;
  background-color: rgba(67, 39, 161, 1);
  color: black;
}

#vqp-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin-top: 20px;
}

#vqp-quiz-title {
  color: white;
  font-size: 50px;
  font-weight: 500;
}

#vqp-quiz-options {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.vqp-qo {
  border: none;
  border-radius: 15px;
  margin-right: 20px;
  height: 40px;
  width: 120px;
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  color: black;
}

.vqp-qo:hover {
  border-bottom: solid;
  border-bottom-color: rgba(0, 0, 0, 0.9);
  padding-top: 3px;
}

#vqp-flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  height: 300px;
  margin-bottom: 10px;
  font-size: 30px;
  perspective: 1000px;
}

#flip-card-inner {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

#vqp-flashcard:hover #flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-side {
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#flip-card-front, #flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#flip-card-back {
  transform: rotateX(180deg);
}

#vqp-flashcard-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: 2px;
  border-color: white;
  margin: 10px 0px 20px 0px;
}

#vqp-container .nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  background-color: rgb(67, 39, 161);
  height: 40px;
  width: 40px;
  border: solid;
  border-radius: 100px;
  border-width: 2px;
  border-color: white;
  color: white;
  font-size: 30px;
  margin: 0px 10px 0px 10px;
  transition: background-color 0.25s ease-out;
}

#vqp-container .nav-btn:hover {
  color: rgb(67, 39, 161);
  background-color: white;
}

#flashcard-nav-count {
  color: white;
  margin: 0px 10px 0px 10px;
  padding: 0;
  font-size: 20px;
  font-weight: 400
}

#vqp-questions-ul {
  list-style-type: none;
  margin: 0px 0px 40px 0px;
  padding: 0px;
}

.vqp-questions-li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  background-color: white;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  height: 100%;
}

.vqp-questions-li-q {
  width: 40%;
  border-right: solid;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-right-width: 2px;
  padding-right: 10px;
}

.vqp-questions-li-a {
  width: 50%;
  margin-left: 15px;
}

.vqp-questions-li-o {
  width: 10%;
  border-left: solid;
  border-left-color: rgba(0, 0, 0, 0.8);
  border-left-width: 2px;
  padding-left: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}